@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #8e44ad;
    font-family:'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: white;
}

p {
    font-size: 18px;
}


.container {
    font-size: 60px;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

i.fa-twitter,
i.fa-youtube,
i.fa-facebook {
    color: #ffffff;
    font-size: 40px;
    margin-right: 10px;
}
